:host {
  .input-group {
    .form-control {
      width: auto;
    }
  }

  .card-list__item {
    &--disabled {
      pointer-events: none;
      opacity: 0.5;
      background: #CCC;
    }
  }

  .alert-disabled {
    font-size: 13px;
    color: #ffffff !important;
    background-color: #ff0000 !important;
    padding: 8px 8px;
    margin-bottom: 0px;
    white-space: nowrap;
  }
}
