@charset "utf-8";

//
// Description:
//
//    This file contains all the typography declarations.
//

@import '../abstracts/variables';

*,
html,
body {
  font-size: $base-font-size;
  font-family: $font-family-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; /* stylelint-disable-line property-no-vendor-prefix */
  -ms-text-size-adjust: 100%; /* stylelint-disable-line property-no-vendor-prefix */
}

.text-primary {
  color: var(--theme-background-color) !important;
}
